<h4>标签</h4>
{{#get "tags"}}
	<ul class="tag-list">
		{{#foreach tags}}
			<li class="tag-list-item">
				<a href="{{url}}" title="{{name}}"> {{name}}</a>
				{{!-- <span class="tag-posts">{{plural ../pagination.total empty='' singular='%' plural='%'}}</span> --}}
			</li>
		{{/foreach}}
	</ul>
{{/get}}
