<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>流动图书馆</title>
	<meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{asset "built/travelib.css"}}">
</head>
<body>
	{{!-- <header>Welcome!</header> --}}
	<article class="travelib-profile">
		<h3>流动图书馆为一款微信小程序</h3>
		<p class="desc">其是一个图书漂流和借阅工具，旨在共享闲置图书，并链接趣味相投的小伙伴。

			{{!-- <span class="dot">. . .</span> --}}
		</p>
			
		<p class="desc">赶紧扫一扫下方二维码或者微信搜索流动图书体验吧。</p>
		
	</article>
	<div class="travelib-code"></div>
</body>
</html>


