@font-face {
  font-family: 'iconfont';  /* project id 505349 */
  src: url('//at.alicdn.com/t/font_505349_xxmsn22dj481714i.eot');
  src: url('//at.alicdn.com/t/font_505349_xxmsn22dj481714i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_505349_xxmsn22dj481714i.woff') format('woff'),
  url('//at.alicdn.com/t/font_505349_xxmsn22dj481714i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_505349_xxmsn22dj481714i.svg#iconfont') format('svg');
}